# Tema 5 - Modele de regresie

In [1]:
import numpy as np
import pandas as pd
import sklearn

print('At the moment the program was made:')
print('\tNumPy Version = 1.20.2')
print('\tScykit_learn Version = 0.24.1')
print('\tPandas Version = 1.2.3\n')

print(f'Current NumPy Version = {np.__version__}')
print(f'Current Sklearn Version = {sklearn.__version__}')
print(f'Current Pandas Version = {pd.__version__}')

At the moment the program was made:
	NumPy Version = 1.20.2
	Scykit_learn Version = 0.24.1
	Pandas Version = 1.2.3

Current NumPy Version = 1.20.1
Current Sklearn Version = 0.24.1
Current Pandas Version = 1.2.4

* CPU Computer Hardware; excludeti din dataset coloanele: vendor name, model name, estimated relative performance; se va estima coloana "published relative performance".

In [2]:
CPU_data = pd.read_csv("data/machine.data", delimiter=",", header=None)
CPU_data = CPU_data.drop([0, 1, 9], axis = 1)
#CPU_data = CPU_data.drop(1, axis = 1)
#CPU_data = CPU_data.drop(9, axis = 1)
CPU_data.head()

     2     3      4    5   6    7    8
0  125   256   6000  256  16  128  198
1   29  8000  32000   32   8   32  269
2   29  8000  32000   32   8   32  220
3   29  8000  32000   32   8   32  172
4   29  8000  16000   32   8   16  132

In [3]:
BH_data = pd.read_csv("data/housing.data", delimiter = "\t", header = None)
BH_data.head()

                                                   0
0   0.00632  18.00   2.310  0  0.5380  6.5750  65...
1   0.02731   0.00   7.070  0  0.4690  6.4210  78...
2   0.02729   0.00   7.070  0  0.4690  7.1850  61...
3   0.03237   0.00   2.180  0  0.4580  6.9980  45...
4   0.06905   0.00   2.180  0  0.4580  7.1470  54...

In [7]:
WBC_data = pd.read_csv("data/r_wpbc.data", delimiter = ",", header = None)
WBC_data.head()
assert not np.isnan(WBC_data.values.sum())
WBC_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 33 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       194 non-null    int64
 1   1       194 non-null    float64
 2   2       194 non-null    float64
 3   3       194 non-null    float64
 4   4       194 non-null    float64
 5   5       194 non-null    float64
 6   6       194 non-null    float64
 7   7       194 non-null    float64
 8   8       194 non-null    float64
 9   9       194 non-null    float64
 10  10      194 non-null    float64
 11  11      194 non-null    float64
 12  12      194 non-null    float64
 13  13      194 non-null    float64
 14  14      194 non-null    float64
 15  15      194 non-null    float64
 16  16      194 non-null    float64
 17  17      194 non-null    float64
 18  18      194 non-null    float64
 19  19      194 non-null    float64
 20  20      194 non-null    float64
 21  21      194 non-null    float64
 22  22      194 non-null    float64
 23  23      194 non-null    float64
 24  24      194 non-null    float64
 25  25      194 non-null    float64
 26  26      194 non-null    float64
 27  27      194 non-null    float64
 28  28      194 non-null    float64
 29  29      194 non-null    float64
 30  30      194 non-null    float64
 31  31      194 non-null    float64
 32  32      194 non-null    int64
dtypes: float64(31), int64(2)
memory usage: 50.1 KB

In [5]:
com_crime_data = pd.read_csv("data/communities.data", delimiter = ",", header = None)
com_crime_data = com_crime_data.drop(range(5), axis = 1)
com_crime_data = com_crime_data.replace("?", np.nan)
com_crime_data = com_crime_data.dropna()
com_crime_data.head()

,5,6,7,8,9,10,11,12,13,14,...,118,119,120,121,122,123,124,125,126,127
0,0.19,0.33,0.02,0.90,0.12,0.17,0.34,0.47,0.29,0.32,...,0.12,0.26,0.20,0.06,0.04,0.9,0.5,0.32,0.14,0.20
16,0.15,0.31,0.40,0.63,0.14,0.06,0.58,0.72,0.65,0.47,...,0.06,0.39,0.84,0.06,0.06,0.91,0.5,0.88,0.26,0.49
20,0.25,0.54,0.05,0.71,0.48,0.30,0.42,0.48,0.28,0.32,...,0.09,0.46,0.05,0.09,0.05,0.88,0.5,0.76,0.13,0.34
21,1.00,0.42,0.47,0.59,0.12,0.05,0.41,0.53,0.34,0.33,...,1.00,0.07,0.15,1,0.35,0.73,0,0.31,0.21,0.69
23,0.11,0.43,0.04,0.89,0.09,0.06,0.45,0.48,0.31,0.46,...,0.16,0.12,0.07,0.04,0.01,0.81,1,0.56,0.09,0.63

In [6]:
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression